In [2]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
results = []
with requests.Session() as s:
    for i in range(0,300):
        url = 'https://www.indeed.com/jobs?q=data+science&l=United+States&sort=date&start='+str(10*i)
        res = s.get(url.format(url))
        soup = bs(res.content, 'lxml')
        titles = [item.text.strip() for item in soup.select('[data-tn-element=jobTitle]')]
        companies = [item.text.strip() for item in soup.select('.company')]
        links = []
        all_a = soup.select('[data-tn-element=jobTitle]')
        for a in all_a:
            links.append(a['href'])
        data = list(zip(titles, companies,links))
        results.append(data)
newList = [item for sublist in results for item in sublist]
df = pd.DataFrame(newList)
df.columns = ['Position', 'Company', 'Links']
df['Links'] = 'https://www.indeed.com' + df['Links'].astype(str)
export_csv = df.to_csv (r'job listings.csv', index = None, header=True) 
df

                                               Position  ...                                              Links
0                                   Data Scientist, SBG  ...  https://www.indeed.com/rc/clk?jk=4b706945d6d8a...
1                                   Data Science Intern  ...  https://www.indeed.com/rc/clk?jk=1efaa793eb050...
2                                     Data Scientist II  ...  https://www.indeed.com/rc/clk?jk=a2e71854e482b...
3                              DATA SCIENCE FACILITATOR  ...  https://www.indeed.com/rc/clk?jk=d0437eea0774e...
4                              Principal Data Scientist  ...  https://www.indeed.com/rc/clk?jk=af136da2f316a...
...                                                 ...  ...                                                ...
2993              Data Platform Engineer III (Contract)  ...  https://www.indeed.com/rc/clk?jk=300d7360b7677...
2994                      Data Center Building Engineer  ...  https://www.indeed.com/rc/clk?jk=ee49c76bdaa45...
2995              Computer Engineer (AST, Data Systems)  ...  https://www.indeed.com/rc/clk?jk=06a7e80bfaa81...
2996        Specialist SA, Machine Learning/AI Services  ...  https://www.indeed.com/rc/clk?jk=d0e312ead45ba...
2997  Systems Development Engineer – Data Center Ope...  ...  https://www.indeed.com/rc/clk?jk=8381cf3f692da...

[2998 rows x 3 columns]